<div class="home-wrapper" style="display: flex; height: 100%; z-index: 2; flex-direction: column; justify-content: center;">
    <div class="home-container" style="border: 2px solid #FFFFFF; padding: 16px; background-color: rgba(0, 0, 0, 0.5); margin-bottom: 20px; max-width: 1070px;">
        <div class="row home-row">
            <div class="home-logo" style="margin-bottom: 20px;"><img style="min-height: 2.8em; width: 100%;" src="https://interchange.ivanti.com/wp-content/uploads/2017/08/ivanti_interchange18-whtlogo.svg" alt="logo"></div>
        </div>
        <div class="row" style="padding: 0px 16px 0px 16px">
            <a href="https://interchange.ivanti.com/dallas/">
                <div class="col-xs-12 col-md-6 home-container-us" style="margin-bottom: 0px;">
                    <div class="home-container-header" style="font-size: 1.7em; padding: 2px;">DALLAS, TX</div>
                    <div class="home-container-footer">MAY 14-17, 2018</div>
                    <div class="home-location" style="height: 280px;">
                        <div class="home-location-content">
                            <div class="home-location-container home-dallas-img"></div>
                        </div>
                        <div class="home-title"></div>
                    </div>
                </div>
            </a>
            <a href="https://go.ivanti.com/Interchange-Madrid-2018.html">
                <div class="col-xs-12 col-md-6 home-container-emea" style="margin-bottom: 0px;">
                    <div class="home-container-header" style="font-size: 1.7em; padding: 2px;">MADRID, SPAIN</div>
                    <div class="home-container-footer">JUNE 12-14, 2018</div>
                    <div class="home-location" style="display: flex; align-items: center;justify-content: center; height: 280px;">
                        <div class="home-location-content">
                            <div class="home-location-container home-madrid-img"></div>
                        </div>
                        <div class="home-title"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="home-container" style="border: 2px solid #FFFFFF; padding: 16px; background-color: rgba(0, 0, 0, 0.5); max-width: 1070px;">
        <div class="row home-row">
            <div class="home-logo" style="margin-bottom: 20px;"><img style="min-height: 2.8em; width: 100%;" src="https://interchange.ivanti.com/wp-content/uploads/2017/12/UnpluggedWhite.svg" alt="logo"></div>
        </div>
        <div class="row" style="padding: 0px 16px 0px 16px">
                <div class="home-container-header">1 Day Interchange Unplugged Events</div>
                <a href="https://interchange.ivanti.com/unplugged/paris/">
                    <div class="col-xs-12 col-md-2 home-container-us" style="margin-bottom: 0px;">
                        <div class="home-location" style="height: 200px;">
                            <div class="home-location-content">
                                <div class="home-location-container home-dallas-img" style="background: url('https://interchange.ivanti.com/wp-content/uploads/2017/12/paris.jpg') center center no-repeat scroll"></div>
                            </div>
                            <div class="home-title"></div>
                        </div>
                        <div class="home-container-footer" style="font-size: 10px;">Paris - 12-Apr-18</div>
                    </div>
                </a>
                <a href="https://interchange.ivanti.com/unplugged/frankfurt/">
                    <div class="col-xs-12 col-md-2 home-container-us" style="margin-bottom: 0px;">
                        <div class="home-location" style="height: 200px;">
                            <div class="home-location-content">
                                <div class="home-location-container home-dallas-img" style="background: url('https://interchange.ivanti.com/wp-content/uploads/2017/12/frankfurt.jpg') center center no-repeat scroll"></div>
                            </div>
                            <div class="home-title"></div>
                        </div>
                        <div class="home-container-footer" style="font-size: 10px;">Frankfurt - 12-Apr-18</div>
                    </div>
                </a>
                <a href="https://interchange.ivanti.com/unplugged/munich/">
                    <div class="col-xs-12 col-md-2 home-container-us" style="margin-bottom: 0px;">
                        <div class="home-location" style="height: 200px;">
                            <div class="home-location-content">
                                <div class="home-location-container home-dallas-img" style="background: url('https://interchange.ivanti.com/wp-content/uploads/2017/12/munich.jpg') center center no-repeat scroll"></div>
                            </div>
                            <div class="home-title"></div>
                        </div>
                        <div class="home-container-footer" style="font-size: 10px;">Munich - 17-Apr-18</div>
                    </div>
                </a>
                <a href="https://interchange.ivanti.com/unplugged/vienna/">
                    <div class="col-xs-12 col-md-2 home-container-us" style="margin-bottom: 0px;">
                        <div class="home-location" style="height: 200px;">
                            <div class="home-location-content">
                                <div class="home-location-container home-dallas-img" style="background: url('https://interchange.ivanti.com/wp-content/uploads/2017/12/vienna.jpg') center center no-repeat scroll"></div>
                            </div>
                            <div class="home-title"></div>
                        </div>
                        <div class="home-container-footer" style="font-size: 10px;">Vienna - 19-Apr-18</div>
                    </div>
                </a>
                <a href="https://interchange.ivanti.com/unplugged/berlin/">
                    <div class="col-xs-12 col-md-2 home-container-us" style="margin-bottom: 0px;">
                        <div class="home-location" style="height: 200px;">
                            <div class="home-location-content">
                                <div class="home-location-container home-dallas-img" style="background: url('https://interchange.ivanti.com/wp-content/uploads/2017/12/berlin.jpg') center center no-repeat scroll"></div>
                            </div>
                            <div class="home-title"></div>
                        </div>
                        <div class="home-container-footer" style="font-size: 10px;">Berlin - 24-Apr-18</div>
                    </div>
                </a>
                <a href="https://interchange.ivanti.com/unplugged/london/">
                    <div class="col-xs-12 col-md-2 home-container-us" style="margin-bottom: 0px;">
                        <div class="home-location" style="height: 200px;">
                            <div class="home-location-content">
                                <div class="home-location-container home-dallas-img" style="background: url('https://interchange.ivanti.com/wp-content/uploads/2017/12/london.jpg') center center no-repeat scroll"></div>
                            </div>
                            <div class="home-title"></div>
                        </div>
                        <div class="home-container-footer" style="font-size: 10px;">London - 26-Apr-18</div>
                    </div>
                </a>
        </div>
    </div>
</div>