<div class="home-wrapper" style="display: flex; height: 100%; z-index: 2; flex-direction: column; justify-content: center;">
    <div class="home-container" style="border: 2px solid #FFFFFF; padding: 16px; background-color: rgba(0, 0, 0, 0.5); margin-bottom: 20px; max-width: 1070px;">
        <div class="row home-row">
            <div class="home-logo" style="margin-bottom: 20px;"><img style="min-height: 2.8em; width: 100%;" src="https://interchange.ivanti.com/wp-content/uploads/2017/08/ivanti_interchange18-whtlogo.svg" alt="logo"></div>
        </div>
        <div class="row" style="padding: 0px 16px 0px 16px">
            <a href="https://interchange.ivanti.com/dallas/">
                <div class="col-xs-12 col-md-6 home-container-us" style="margin-bottom: 0px;">
                    <div class="home-container-header" style="font-size: 1.7em; padding: 2px;">DALLAS, TX</div>
                    <div class="home-container-footer">MAY 14-17, 2018</div>
                    <div class="home-location" style="height: 280px;">
                        <div class="home-location-content">
                            <div class="home-location-container home-dallas-img"></div>
                        </div>
                        <div class="home-title"></div>
                    </div>
                </div>
            </a>
            <a href="https://go.ivanti.com/Interchange-Madrid-2018.html">
                <div class="col-xs-12 col-md-6 home-container-emea" style="margin-bottom: 0px;">
                    <div class="home-container-header" style="font-size: 1.7em; padding: 2px;">MADRID, SPAIN</div>
                    <div class="home-container-footer">JUNE 12-14, 2018</div>
                    <div class="home-location" style="display: flex; align-items: center;justify-content: center; height: 280px;">
                        <div class="home-location-content">
                            <div class="home-location-container home-madrid-img"></div>
                        </div>
                        <div class="home-title"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="home-container" style="border: 2px solid #FFFFFF; padding: 16px; background-color: rgba(0, 0, 0, 0.5); max-width: 1070px;">
        <div class="row home-row">
            <div class="home-logo" style="margin-bottom: 20px;"><img style="min-height: 2.8em; width: 100%;" src="https://interchange.ivanti.com/wp-content/uploads/2017/12/UnpluggedWhite.svg" alt="logo"></div>
        </div>
        <div class="row" style="padding: 0px 16px 0px 16px">
                <div class="home-container-header">1 Day Interchange Unplugged Events</div>
                
                <p>Please select from the following list of locations</p>
                
				<select name="sources" id="sources" class="custom-select sources" placeholder="Source Type" onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
					<option value="" selected>Select Unplugged Location</option>
                	<option value="https://interchange.ivanti.com/unplugged/paris/">Paris - April 12</option>
                	<option value="https://interchange.ivanti.com/unplugged/franfurt/">Franfurt - April 12</option>
                	<option value="https://interchange.ivanti.com/unplugged/munich/">Munich - April 17</option>
                	<option value="https://interchange.ivanti.com/unplugged/vienna/">Vienna - April 19</option>
                	<option value="https://interchange.ivanti.com/unplugged/berlin/">Berlin - April 24</option>
                	<option value="https://interchange.ivanti.com/unplugged/london/">London - April 26</option>
                	<option value="https://interchange.ivanti.com/unplugged/zurich/">Zurich - April 26</option>
				</select>
               

        </div>
    </div>
    
    
</div>